.myAppDemoWT .myCustomButton.sapMBtn {
  margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
  margin-left: 0.125rem;
  margin-right: 0 
}
.myAppDemoWT .myCustomText {
  font-weight: bold;
}

//COMMON
.myAppDemoWT .nopadding .sapUiFormResGrid>div{
	 padding-bottom: 0.0rem;
	 padding-top: 0.0rem;
}


.myAppDemoWT .sapMLabel.formlabel{
	 padding-top: 1rem;
} 

.myAppDemoWT .sapMLabel.formlabel:after{
	 content:":";
	
}

//FOR COMPLEX FORM
.myAppDemoWT .sapMLabel.formfieldlabelmulti{
	 padding-top: 2.2rem;
	
} 

.myAppDemoWT .sapMLabel.formfieldlabelmulti:after{
	 content:":";
	
}


@media (max-width:648px){
	
	.myAppDemoWT .sapMLabel.formfieldlabelmulti{
	 padding-top: .5rem;
	  padding-bottom: .5rem;
	
} 

.myAppDemoWT .sapMLabel.formitemlabelmulti{
	 margin-left: 1rem;
	
} 
	}
	
	
//FOR SIMPLE FORM	
	
	/*
	.myAppDemoWT .sapMLabel.formlabel{
	 padding-top: 1rem;
	
	
} 
.myAppDemoWT .sapMLabel.formlabelmulti{
	 padding-top: 2.3rem;
	
	
} 


.myAppDemoWT .hidecontrol.sapMInput{
	display:none;
}
*/